@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB;
  --secondary: #1E293B;
  --accent: #FACC15;
  --background: #FFFFFF;
}

body {
  color: var(--secondary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Leaflet map styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
